<% @page_title = "このサイトについて" %>

<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<p>設計段階のサーバーを管理するruby on railsアプリです。</p>

<h3>注意事項</h3>
<ul>
<li>物理マシン、仮想マシンを登録・大体のサーバ台数、ストレージ容量を試算するためのツールです。</li>
<li>システムディスクの容量は別途追加する必要があります。</li>
<li>トップページでは、仮想マシンを物理マシンに換算するのに、2CPU6コア、若干の余裕を持たせました。</li>
<li>bootstrapを採用しています。但しWindows上での動作も考慮し、twitter-bootstrap-railsは非採用です。</li>
</ul>

