<% @page_title = "管理ページトップ" %>
<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<ul>
<li><%= link_to "ユーザ管理", :admin_members %></li>
<li><%= link_to "基盤一覧全フィールド管理", :admin_articles %></li>
</ul>
